<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<script>
var result
var topP;
var leftP;
var saved_moves = "";
var count = 6;
var count1 = 10;
var position = 0;
var newTop = null;
var newLeft = null;
let keys = {};
var turbo = true;
var speed = 5.0;
var Planes = [];
var Bullets = [];
class Plane{
	width;
	height;
	img;
	name;
	constructor(width, height, img, name){
		this.width = width; 
		this.height = height;
		this.img = img;
		this.name = name;
	}
	makePlane() {
		var plane = document.createElement("img")
		plane.src = this.img;
		plane.style.width = this.width +"px";
		plane.style.height = this.height +"px"
		plane.style.position = "relative";
		plane.setAttribute("id", this.name)
		plane.style.top = 400 + "px";
		plane.style.overflow = "hidden";
		plane.style.left = 400 + "px"
		plane.style.transformOrigin = "center";
		document.getElementById("container").append(plane)
		topP = plane.style.top.slice("p")[0]
		leftP = plane.style.left.slice("p")[0];
	}
	Boost(){
		var boost = document.getElementById("boost")
		if (turbo) {
			speed = 10.0
			const audio = new Audio("https://sndup.net/xf25/d");
			audio.volume = 0.9;
			audio.play();
			turbo = false;
			boost.innerHTML = "Boost: " + count;
			var countdown = setInterval(function() {
				count--
				boost.innerHTML = "Boost: " + count;

			}, 1000)
			setTimeout(function() {
				clearInterval(countdown)
				count = 6;
				boost.innerHTML = "Boost: Getting Ready: 10"
				speed = 5.0;
				audio.pause()
				var klaar = setInterval(function() {
					count1--
					boost.innerHTML = "Boost: Getting Ready: "+count1;
				}, 1000)
				setTimeout(function() {
					clearInterval(klaar)
					count1 = 10;
					turbo = true;
					boost.innerHTML = "Boost: Ready"

				}, 10000)
			}, 6000)
		} else {
			const audio = new Audio("https://sndup.net/nngh/d");
			audio.volume = 0.9;
			audio.play();
		}
	}
	Move() {
		var plane = document.getElementById("plane1")
		var rect = plane.getBoundingClientRect();
		saved_moves = document.getElementById("plane1").style.transform;
		if (Keys.up) {
			if (rect.top <= 0) {

				plane.style.top = parseInt(plane.style.top) + 6 + "px"
			}
			if (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight)) {
				plane.style.top = parseInt(plane.style.top) - 6 + "px"
			}
			if (rect.left <= 0) {
				plane.style.left = parseInt(plane.style.left) + 6 + "px"
			}
			if (rect.right >= (window.innerWidth || document.documentElement.clientWidth)) {
				plane.style.left = parseInt(plane.style.left) - 6 + "px"
			} else {
				plane.style.transform += 'translateY( -' + Math.round(speed) + 'px )';
			}
		}

		if (Keys.left) {
			plane.style.transform += 'rotate( -3deg )';
		} else if (Keys.right) {
			plane.style.transform += 'rotate( 3deg )';
		}
		
		requestAnimationFrame(function() {
			Planes[0].Move()
		});	
	}
	Fire() {
		var bullet = new Bullet(20, 20 , "https://i.ibb.co/8zTJrZC/bullet.png")
		Bullets.push(bullet);
		Bullets[0].makeBullet()
	}
}
class Bullet{
	width;
	height;
	img;
	constructor(width, height, img){
		this.width = width;
		this.height = height;
		this.img = img;
		
	}
	makeBullet() {
		var trany = 0;
		var saved = saved_moves
		var i = 5;
		const audio = new Audio("https://sndup.net/xtw5/d");
		audio.volume = 0.9;
		audio.play();
		var bullet = document.createElement("img")
		bullet.src = this.img;
		bullet.style.position = "absolute";
		bullet.style.width = this.width + "px";
		bullet.style.height = this.height + "px";
		bullet.setAttribute("class", "bullet")
		bullet.style.top = parseInt(document.getElementById("plane1").style.top) +50 +"px";
		bullet.style.left = parseInt(document.getElementById("plane1").style.left) + 40+"px"
		bullet.style.transform = saved_moves;
		document.getElementById("container").append(bullet)
		var inter = setInterval(function() {
			trany -= 7;
			bullet.style.transform = saved + 'translateY(' + trany + 'vmin)';
			var bullets = document.getElementsByClassName("bullet")
			for (var i = 0; i < bullets.length; i++) {
				const bounding = bullets[i].getBoundingClientRect();

				if (bounding.top < 0 || bounding.left < 0 || bounding.bottom > (window.innerHeight || document.documentElement.clientHeight) || bounding.right > (window.innerWidth || document.documentElement.clientWidth)) {
					clearInterval(inter)
					document.getElementById("container").removeChild(bullets[i])
					trany = 0;
				}
			}
		}, 40)
	}
}
window.onkeyup = function(e) {
	var kc = e.keyCode;
	if (kc === 37) Keys.left = false;
	else if (kc === 38) Keys.up = false;
	else if (kc === 39) Keys.right = false;
	else if (kc === 40) Keys.down = false;
	else if (kc === 13) Keys.enter = false;
};

window.onload = function() {
	makePlane();
	var base = document.getElementById('plane1')
	var rect = base.getBoundingClientRect();
	// 		animate()
	document.addEventListener("keyup", function(e) {
		if (e.keyCode === 32) {
			Planes[0].Fire()
		}
		if (e.keyCode === 13) {
			Planes[0].Boost();
		}
	})
	update()

}

function makePlane() {
	plane = new Plane(100, 100, "https://i.pinimg.com/originals/3b/03/94/3b0394153492f7a2e31e80bb9e4c4fb5.gif" , "plane1")
	Planes.push(plane)
	Planes[0].makePlane();
}

function update() {
	Planes[0].Move()
}
function fpsMeter() {
    let prevTime = Date.now(),
        frames = 0;

    requestAnimationFrame(function loop() {
      const time = Date.now();
      frames++;
      if (time > prevTime + 1000) {
        let fps = Math.round( ( frames * 1000 ) / ( time - prevTime ) );
        prevTime = time;
        frames = 0;
        document.getElementById("text").innerHTML = "";
        document.getElementById("text").innerHTML = "FPS: "+fps;
      }

      requestAnimationFrame(loop);
    });
}
  
  fpsMeter();



function Fire() {
	Planes[0].Fire();

}

</script>
<style>
html, body {
	font-size: 18px;
	margin: 0; /* remove default margin */
	padding: 0; /* remove default padding */
	width: 100%; /* take full browser width */
	height: 100%; /* take full browser height*/
	overflow-x: hidden;
}

#plane1 {
	transform-origin: center top;
	touch-action: none;
}

body {
	background-image:
		url('https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif');
	background-size: cover;
}

body::-webkit-scrollbar {
	display: none;
}

#plane1 {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#board {
	display: table;
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: 50px;
	color: white;
}

#fps {
	position: fixed;
	left: 95%;
	top: 0%;
	color: white;
	width: 100px;
	height: 50px;
}
</style>
</head>
<body>


	<div id="container"></div>
	<div id="board">
		<h2 id="score">Score: 0</h2>
		<h2 id="boost">Boost: Ready</h2>

	</div>
	<div id="fps">
		<p id="text">
	</div>
	<script>
	var Keys = {
		    up: false,
		    down: false,
		    left: false,
		    right: false,
		    enter: false
		  }
	
		  window.onkeydown = function( e ) {
		    var kc = e.keyCode;
		    
		    if ( kc === 37 ) Keys.left = true;
		    else if ( kc === 38 ) Keys.up = true;
		    else if ( kc === 39 ) Keys.right = true;
		    else if ( kc === 40 ) Keys.down = true;
		    else if(kc === 13) Keys.enter = true;
		  };
		  
		  
	</script>

</body>
</html>